<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onInputServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-success" [disabled]="!allowServers" (click)="onServerCreation()">Add Server</button>
<p>{{allowServers}}</p>
<p *ngIf="isServerCreated; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
  <p>no server is created .. !!</p>
</ng-template>
<app-server *ngFor="let sr of servers"></app-server>
